.container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background: transparent
  }
  
  .trigger {
    background-color: black;
    color: red
  }
  
  .modal,
  .fade,
  .show {
    background-color: lightgray;
    padding-left: 15px;
    padding-right: 15px
  }
  
  .modal-content {
    background: transparent;
    border: none;
    padding: 0 19px
  }
  
  .close {
    position: relative;
    top: 48px;
    left: 13px;
    z-index: 1;
    font-size: 30px;
    font-weight: 100;
    line-height: 1;
    color: gray
  }
  
  .modal-header {
    border: none
  }
  
  .modal-body {
    border: none;
    background-color: white;
    padding-bottom: 5px
  }
  
  /* .logo {
    width: 100px;
    height: 100px;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1576118709/83225325-beauty-spa-logo-design.jpg);
    background-size: contain;
    position: relative;
    right: 14px
  } */
  
  /* .off {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1576118728/30-off-white-background-special-offer-great-offer-sale-thirty-percent-off-promotional_59529-691.jpg);
    background-size: contain
  } */
  
  .heading {
    justify-content: space-between
  }
  
  .modal-footer {
    border: none
  }
  
  .btn.focus,
  .btn:focus {
    outline: 0;
    box-shadow: none !important
  }
  
  .close.focus,
  .close:focus {
    outline: 0;
    box-shadow: none !important
  }
  
  .hurry {
    margin-top: 30px
  }
  
  .booking {
    background-color: white;
    border: 2px solid lightgray;
    width: 150px;
    border-radius: 0px
  }
  
  .booking:hover {
    background-color: #ECEFF1;
    border: 2px solid black
  }
  
  @media (min-width:599px) {
    .modal-dialog {
        max-width: 47rem
    }
  
    .details {
        padding: 0 114px
    }
  
    .off {
        position: absolute;
        bottom: 150px;
        left: 25px
    }
  }